<div class="main-content">
    <div class="col-md-3" id="fk-control">
        <h4>Control Panel</h4>
        <div class="controls">
            <h6>Display Mode</h6>
            <div class="btn-group" id="displaySelector" role="group">
                <button type="button" ng-class="(display.mode==='compact')?'btn-primary' : 'btn-default'" class="btn" ng-click="display.mode='compact'">Compact</button>
                <button type="button" ng-class="(display.mode==='expanded')?'btn-primary' : 'btn-default'" class="btn" ng-click="display.mode='expanded'">Expanded</button>
            </div>
            <h6>Farm</h6>
            <label class="checkbox-inline" ng-repeat="farm in (farms | unique)">
                <input type="checkbox" id="inlineCheckbox1" ng-value="farm" ng-checked="display.farms.indexOf(farm)>=0" ng-click="toggleFarm(farm)"> Farm {{farm}}
            </label>
            <h6>Sort By</h6>
            <div class="btn-group" id="sortSelector">
                <button type="button" ng-class="(display.sorting==='title')?'btn-primary' : 'btn-default'" class="btn" ng-click="display.sorting='title'">Title</button>
                <button type="button" ng-class="(display.sorting==='meta.id')?'btn-primary' : 'btn-default'" class="btn" ng-click="display.sorting='meta.id'">ID</button>
                <button type="button" ng-class="(display.sorting==='meta.server')?'btn-primary' : 'btn-default'" class="btn" ng-click="display.sorting='meta.server'">Server</button>
            </div>
            <h6>Sort Type</h6>
            <div class="btn-group" id="sortOrderSelector">
                <button type="button" ng-class="(display.sortType===false)?'btn-primary' : 'btn-default'" class="btn" ng-click="display.sortType=false">Asc</button>
                <button type="button" ng-class="(display.sortType===true)?'btn-primary' : 'btn-default'" class="btn" ng-click="display.sortType=true">Des</button>
            </div>
        </div>

    </div>
    <div class="col-md-9" id="fk-display">
        <div class="galleryContainer">
            <image-container class="image-container" display="display" img-data="img" ng-repeat="img in images | filter:search | orderBy:display.sorting:display.sortType"></image-container>
        </div>
    </div>
</div>
